basic/ContentEnricher/src/main/webapp/WEB-INF/queue.xml
basic/ContentEnricher/src/main/webapp/WEB-INF/queue.xml
basic/ClaimPattern/.classpath
basic/ClaimPattern/.settings/.jsdtscope
*.prefs
basic/ClaimPattern/.settings/org.eclipse.wst.common.component
basic/ClaimPattern/.settings/org.eclipse.wst.common.project.facet.core.xml
*.container
basic/ClaimPattern/.springBeans
basic/ClaimPattern/.settings/org.eclipse.wst.jsdt.ui.superType.name
basic/ContentEnricher/src/main/webapp/WEB-INF/queue.xml
basic/ClaimPattern/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
basic/ContentEnricher/src/main/webapp/WEB-INF/queue.xml
basic/ClaimPattern/src/main/webapp/WEB-INF/queue.xml
basic/ClaimPattern/src/main/webapp/WEB-INF/queue.xml
basic/SoapWS/.settings/.jsdtscope
basic/SoapWS/.settings/org.eclipse.wst.common.project.facet.core.xml
*.name
basic/SoapWS/.settings/org.eclipse.wst.common.component